@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>Getting Started</h1>
        <p class="lead">Select what you want to create/edit/delete.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/Courses">Courses &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/Students">Students &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/Instructors">Instructors &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/Departments">Departments &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/StudyTerms">Study Terms &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/Registrations">Registrations &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/Assignments">Assignments &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/TAGraders">TA Graders &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44346/TAAssignments">TA Assignments &raquo;</a></p>
        </section>
    </div>
</main>